<main>
    <article>
        <div class="scroll ">
            <table class="table table-striped">
                <thead class="fixed-header">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let modelo of listaModelos; let i = index">
                        <td>{{ modelo.id }}</td>
                        <td>{{ modelo.nome }}</td>
                        <td>{{ modelo.marcaId.nome }}</td>
                        <td class="text-center">
                            <button (click)="editarModelo(modalModelo, modelo, i)" class="btn btn-outline-warning  mx-2"><img class="img" src="assets\img\write.svg"></button>
                            <button (click)="excluirModelo(modaloExcluir, modelo, i)" class="btn btn-danger"><img class="img" src="assets\img\delete.svg"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="text-center">
            <button (click)="cadastrarModelo(modalModelo)" class="btnAdicionar">
                Novo modelo
            </button>
        </div>
    </article>
</main>

<ng-template #modalModelo let-modal>
    <div class="modal-header modal-style ">
      <h4 class="modal-title">{{tituloModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-style">
      
        <app-modelo-detalhes [modelo]="modeloParaEditar" (retorno)="atualizarListaModelo($event)" ></app-modelo-detalhes>
              
    </div>
    <div class="modal-footer modal-style">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modaloExcluir let-modal>
    <div class="modal-header modal-style ">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-style">
        <h5>Vc tem certeza que quer deletar esse modelo?</h5>   
    </div>
    <div class="modal-footer modal-style">
        <button type="button" class="btn btn-outline-danger" (click)="confirmarExclusao(modeloParaExcluir)">Deletar</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>