.quadro_tabela {
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;

    .nav-tabs{
        border-bottom: 1px solid #00A859;
    }
    
    .nav-item .active{
        background-color: #00a859;
        color: white;
    }

    .nav-link{
        color: #00A859;
    }

}