:root {
  --accent-green: rgb(12, 141, 12);
  --accent-grey: rgb(185, 185, 185);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Lexend Deca", sans-serif;
    box-sizing: content-box;
}
main{
  margin-left: 15%;
}