<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="row col-lg-12 h-100 w-100">
    <div class="col-lg-2 h-100">
        <app-header class="col-lg-2"></app-header>
    </div>
    <div class="col-lg-10 h-100">
        <app-header-top></app-header-top>
        <router-outlet class="h-100 w-100"></router-outlet>
    </div>
</div>
