<main>
    <article>
        <section class="h-100">
            <div class="quadro_tabela">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <button ngbNavLink>Ticket</button>
                        <ng-template ngbNavContent>
                            <app-ticket-lista></app-ticket-lista>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <button ngbNavLink>Histórico</button>
                        <ng-template ngbNavContent>
                            <app-ticket-historico></app-ticket-historico>
                        </ng-template>
                    </li>
                </ul>
                
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </section>
    </article>
</main>