button{
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    align-items: flex-end;
    color: #000;
    border-radius: 1.5rem;
    border: .1rem solid rgb(12, 141, 12);

    img{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}
button:hover{
    background-color: rgb(12, 141, 12);
    color: #fff;
    transition: .5s;
    border: .1rem solid #fff;
}
.sair{
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    align-items: flex-end;
    color: #000;
    border-radius: 1.5rem;
    background-color: #c0c0c0;
    border: .1rem solid rgb(12, 141, 12);
    img{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

a{
    text-decoration: none;
}
.active{
    background-color: rgb(12, 141, 12);
    color: #fff;
    transition: .5s;
    border: .1rem solid #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.borda{
    border-right: .2rem solid rgb(12, 141, 12);
}