.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.form-control{
    border-color: #00A859;
}

.form-control:focus{
    box-shadow: 0 0 5px #00A859;
}
.alert{
    padding: 0px;
    padding: .5rem;
}