<configuration>
    <!-- Definir um encoder padrão -->
    <springProperty scope="context" name="LOG_PATTERN"
                    source="logging.pattern.console" defaultValue="%d{yyyy-MM-dd HH:mm:ss} - %msg%n"/>

    <!-- Definir o appender para o console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Definir o appender para arquivos de log rotacionados diariamente -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>logs/myapp.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Arquivo de log diário -->
            <fileNamePattern>/home/back/logs/centraldeajuda.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Retenha os logs por 30 dias -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configurar níveis de log para diferentes pacotes -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/> <!-- Define o nível de log para o Hibernate como DEBUG -->
    <!-- Adicione mais pacotes do Hibernate conforme necessário -->

    <!-- Definir o root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>