<main>
    <article>
        <div class="scroll ">
            <table class="table table-striped">
                <thead class="fixed-header">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Patrimônio</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let notebook of listaNotebooks; let i = index">
                        <td>{{ notebook.id }}</td>
                        <td>{{ notebook.patrimonio }}</td>
                        <td>{{ notebook.modeloId.marcaId.nome }}</td>
                        <td>{{ notebook.modeloId.nome }}</td>
                        <td class="text-center">
                            <button (click)="editarNotebook(modalNotebook, notebook, i)" class="btn btn-outline-warning  mx-2"><img class="img" src="assets\img\write.svg"></button>
                            <button (click)="excluirNotebook(modaloExcluir, notebook, i)" class="btn btn-danger"><img class="img" src="assets\img\delete.svg"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="text-center">
            <button (click)="cadastrarNotebook(modalNotebook)" class="btnAdicionar">
                Novo notebook
            </button>
        </div>
    </article>
</main>

<ng-template #modalNotebook let-modal>
    <div class="modal-header modal-style ">
      <h4 class="modal-title">{{tituloModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-style">
      
        <app-notebook-detalhes [notebook]="notebookParaEditar" (retorno)="atualizarListaNotebook($event)" ></app-notebook-detalhes>
              
    </div>
    <div class="modal-footer modal-style">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #modaloExcluir let-modal>
    <div class="modal-header modal-style ">
        <h4 class="modal-title">{{tituloModal}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-style">
        <h5>Vc tem certeza que quer deletar esse notebook?</h5>   
    </div>
    <div class="modal-footer modal-style">
        <button type="button" class="btn btn-outline-danger" (click)="confirmarExclusao(notebookParaExcluir)">Deletar</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>