<div *ngIf="isAdmin" class="d-flex align-items-center w-100">
    <div class="w-100 d-flex align-items-center borda">
        <div class="status shadow-sm">
            <label>{{qtdNotebooks}}</label>
            <p>Notebooks disponíveis</p>
        </div>
        <div class="status shadow-sm">
            <label>{{qtdAlunos}}</label>
            <p>Alunos cadastrados</p>
        </div>
        <div class="status shadow-sm">
            <label>{{qtdTickets}}</label>
            <p>Ticket ativos</p>
        </div>
    </div>
</div>